<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

	<bean id="UserService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="app.service.impl.UserServiceImpl">
				<property name="userDAO" ref="UserDAO" />
			</bean>
		</property>
	</bean>
	<bean id="TourService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="app.service.impl.TourServiceImpl">
				<property name="tourDAO" ref="TourDAO" />
			</bean>
		</property>
	</bean>
	<bean id="CityService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="app.service.impl.CityServiceImpl">
				<property name="cityDAO" ref="CityDAO" />
			</bean>
		</property>
	</bean>
	<bean id="PlaceService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="app.service.impl.PlaceServiceImpl">
				<property name="placeDAO" ref="PlaceDAO" />
			</bean>
		</property>
	</bean>
	<bean id="RatingService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="app.service.impl.RatingServiceImpl">
				<property name="ratingDAO" ref="RatingDAO" />
			</bean>
		</property>
	</bean>	
</beans>
